.button_style{width:80px;
    height:50px;
    border-radius:10px;
    border:none;
}

.button_d {
float:left;
}
.par_d {
font-family: 'Impact';
font-size: 24pt;
}
.pos_center {
display:inline-block;
position:relative;
}
.slider {
--sliderThumbWidth: 96px;
--sliderThumbHeight: 48px; 
-webkit-appearance: none;
width: 308px; /* Full-width */
height: 48px; /* Specified height */
outline: none; /* Remove outline */
background:none;
background-size:cover;
/* Set transparency (for mouse-over effects on hover) */
-webkit-transition: .2s; /* 0.2 seconds transition on hover */
transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
-webkit-appearance: none; /* Override default look */
appearance: none;
width: var(--sliderThumbWidth); /* Set a specific slider handle width */
height: var(--sliderThumbHeight); /* Slider handle height */
background-image: url("../images/SliderButton6.png"); /* Green background */
background-size:cover;
cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
width: var(--sliderThumbWidth); /* Set a specific slider handle width */
height: var(--sliderThumbHeight); /* Slider handle height */
background-image: url("../images/SliderButton6.png"); /* Green background */
background-size:cover;
cursor: pointer; /* Cursor on hover */
}
#info_panel{
position:relative;
top:14px;
}
/*initialCanvasWidth and initialCanvasHeight in initGame() game_most_js.css use width and height. You must change them simultaneuasly*/

#gameCanvas{ position:absolute;
    z-index:1;
    width:867px;
    height:493px;
    left:0;
    top:0;
}
.gameControl{
position:absolute;
z-index:100;
top:425px;
width:867px;
height:68px;
}
.menuControl{
    position:absolute;
    z-index:100;
    top:0px;
    left:700px;
    width:160px;
}
#sliderButton{
width:308px;
height:48px;
}
#gameContainer{
position:relative;
width:867px;
height:493px;
}

#b_hit{
background-image:url('../images/buttonHit.png');
background-size: cover;
width:152px;
}
#b_stand{
background-image:url('../images/buttonStand.png');
background-size: cover;
width:151px;
}
#b_double{
background-image:url('../images/buttonDouble2.png');
background-size: cover;
width:186px;
}
#b_rebet{
background-image:url('../images/buttonRebet.png');
background-size: cover;
width:148px;

}
#b_split{
background-image:url('../images/buttonSplit.png');
background-size: cover;
width:153px;
}
#b_bet{
background-image:url('../images/buttonBet.png');
background-size: cover;
width:146px;
}
#b_deal{
background-image:url('../images/buttonDeal.png');
background-size: cover;
width:146px;
}
#gameControlActions{
visibility:hidden;
left:100px;
}
#gameControlBet{
visibility:visible;
left:200px;
}
#gameControlSlider{
visibility:visible;
top:367px;
height:48px;
left:270px;
}
.dropdown,.userName{
    z-index: 100;
    float: right;
}
.menuItem{visibility: hidden;
           display:block}
#userName{
    background-color: #f0f8ff;
    color:#000000;
    vertical-align: top;
    display: inline-block;
    width:48%;
}
.menuButtons{
    display: inline-block;
    width:48%;
}

.menuItem, .menuButton, #userName{
    font-size: 10px;
}