table{width:100%;
    border:none;
    height:100svh;
}
th{
   border:none;
   background-color: #f0e68c;
}
td{text-align:center;
   border:none;
}
tr{
   border:none;
   display:grid;
   grid-template-columns: 15% 40% 15% 15% 15%;
   height:4.5%;
   vertical-align:middle;
}
.mainContainer{
   width:100%;
   margin:0 auto;
}
tr:nth-child(2n+2){
   background-color:#ffc0cb;
}
tr:nth-child(2n+3){
   background-color:#00ff00;
}
a{
   color:#ffffff;
   background-color: #015b01;
   text-decoration: none;
   font-size:2em;
   padding-left: 0.3em;
   padding-right: 0.3em;
}
#ratingNavigationForm{
   display: flex;
   justify-content: space-between;
}
@media screen and (min-width:750px){
   .mainContainer{
      width:80%;
   }
}
@media screen and (min-width:1024px){
   .mainContainer{
      width:60%;
   }
}