table{width:60%;
    border:none;

}
th{
   border:none;
}
td{text-align:center;
   border:none;

}
tr{
   border:none;
}
tr:nth-child(2n+2){
   background-color:pink;
}
tr:nth-child(2n+3){
   background-color:lime;
}
