table{width:60%;
    border:none;
    height:100vh;
}
th{
   border:none;
}
td{text-align:center;
   border:none;

}
tr{
   border:none;
   display:grid;
   grid-template-columns: 5% 30% 10% 10% 10%;
   height:5%;
}
tr:nth-child(2n+2){
   background-color:pink;
}
tr:nth-child(2n+3){
   background-color:lime;
}
