<!DOCTYPE HTML>
<html lang="en">
    <head> <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
       <title> The game</title>
       <style>
          .button_style_active{width:80px;
                       height:50px;
                       border-radius:10px;
          }
          .button_style_unactive{
                       width:80px;
                       height:50px;
                       background-color:gray;
                       border-color:gray;
                       border-radius:10px;
          }
          .button_d {
              float:left;

          }

          .par_d {
              font-family: 'Impact';
              font-size: 24pt;
          }
          .pos_center {
              display:inline-block;
              position:relative;
              left:250px;
          }
          #info_panel{
              position:relative;
              top:14px;
          }
          BODY{background-image: url(/static/images/table2.jpg);
               background-position: 0% 10%;
               background-repeat: no-repeat;
          }
          @media (min-width: 768px){
          .textRight {
               text-align:right;

           }
          }

       </style>

        <script>
        var test = "test";
   window.onload = function() {


    var drawingCanvas = document.getElementById('smile');
    drawingCanvas.setAttribute('width',1200);
    drawingCanvas.setAttribute('height',350);
    if(drawingCanvas && drawingCanvas.getContext) {
    var context = drawingCanvas.getContext('2d');
    context.setTransform(1,0,0,1,0,0);
    context.fillStyle = "Indigo";
    context.font = '24px "Tahoma"';
    context.rotate(90*(Math.PI/180));

    context.fillText("YOU",230,-100);
    context.fillText("Dealer",100,-100);
    context.setTransform(1,0,0,1,0,0);
    //context.rotate(270*(Math.PI/180));
   /* if({{game_started}}&&!{{round_is_ongoing}})
    {
        var ty =5;

    if ({{busted}}){
     context.font = '40px "Tahoma"';
     context.fillStyle = "Red";
     context.fillText("Busted!",320,70);
    }else
    {
     context.font = '40px "Tahoma"';
     context.fillStyle = "Black";
     var winner ="";
     if ({{values_in_dealer_hand}}<{{values_in_player_hand}})
     {
         winner = "Player";

     }else {
          winner = "Dealer";
     };
     var textResult = {{values_in_dealer_hand}}+":"+{{values_in_player_hand}}+" " + winner+ " win!";
     context.fillText(textResult,320,70);
     };


    };*/






    var image1 = document.createElement("img");
    image1.src = "/static/images/cards.png";
    var backImage = document.createElement("img");
    backImage.src = "/static/images/back.jpg";
    backImage.onload = function(){
        if({{round_is_ongoing}}){
    context.drawImage(backImage,2, 3,{{tile_width}},{{tile_heigth}},130,100,{{tile_width}},{{tile_heigth}});
        };
    };
    image1.onload = function() {
        var counter = 0;

        var cards = {{cards_in_hand|safe}};

        for ( i = 0;i<cards.length;i++)
        {

           context.drawImage(image1,1+{{tile_width}}*cards[i][0],1+ {{tile_heigth}}*cards[i][1],{{tile_width}}-2,{{tile_heigth}}-2,130+i*{{tile_width}},220,{{tile_width}},{{tile_heigth}});
        };
        counter = 0;

        cards = {{dealer_hand|safe}};
        for ( i = 0;i<cards.length;i++)
        {
           if (!(i==0&&{{round_is_ongoing}})){

           context.drawImage(image1,1+{{tile_width}}*cards[i][0],1+ {{tile_heigth}}*cards[i][1],{{tile_width}}-2,{{tile_heigth}}-2,130+i*{{tile_width}},100,{{tile_width}},{{tile_heigth}});
           };
        };
        //end
    };

   };
   };
  </script>
    </head>
    <body>
        <div  class="button_d" >
             User: {{login}}
        </div>
        {% if not vk %}
        <div>
            <form action ="/logout" method=GET>
                 <button class = "button_style_active" type="submit">
                       Logout
                 </button>

            </form>
        </div>
        {% else %}
        <div>
            <form action ="/vk" method=GET>
                 <button class = "button_style_active" type="submit">
                       Back
                 </button>

            </form>
        </div>
        {% endif %}
       <div>
             <canvas id="smile" width="200" height="200" border = 5>“Your browser does not support HTML5 Canvas.”</canvas>
       </div>
       <div id="button_hit" class ="pos_center">
             <form action="/hit" method="GET">
                   <button
                       {% if round_is_ongoing %}
                            class = "button_style_active"
                       {% else %}
                            class = "button_style_unactive"
                       {% endif %}
                      type="submit" value="Hit">
                       Hit
                    </button>
              </form>
       </div>
<div id="button_stand" class="pos_center">
     <form action="/stand" method="GET">
                <button
                      {% if round_is_ongoing %}
                         class = "button_style_active"
                      {% else %}
                         class = "button_style_unactive"
                      {% endif %}

                    type="submit" value="Stand">
                    Stand
                </button>
     </form>
</div>
<div id="button_deal" class="pos_center">
     <form action="/deal" method="GET">
                <button
                      {% if round_is_ongoing %}
                         class = "button_style_unactive"
                      {% else %}
                         class = "button_style_active"
                      {% endif %}
                          type="submit" value="Deal">
                    Deal
                </button>
     </form>
</div>
        <div id="info_panel">
        <p class="par_d">
        {% if busted %}
        Busted!
        {% elif game_started and not round_is_ongoing %}
                    Dealer: {{values_in_dealer_hand}}. Player: {{values_in_player_hand}}.
               {% if (values_in_dealer_hand < values_in_player_hand) or  values_in_dealer_hand>21 %}
                     Player wins!
               {% else %}
                     Dealer wins!
               {% endif %}
        {% endif %}
         Score- Dealer {{dealer_wins}} : {{player_wins}}  Player
         </p>
        </div>
        <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">My scratchpad</a>
    </div>
  </div>
</nav>


<div class="container">
        {% for comment in comments %}
    <div class="row">

              <div class ="col-sm-4 textRight">{{ comment[0]}}</div>
       <div class ="col-sm-8">{{ comment[1] }}</div>
    </div>
{% endfor %}
<div>
            <form action="/blackjack" method="POST">
                <textarea name="contents" placeholder="Enter a comment"></textarea>
                <input type="submit" value="Post comment">
            </form>
        </div>


        </div><!-- /.container -->

    </body>
</html>