<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale = 1">
    <title>BlackJack:login</title>

</head>
<body>
{{vk}}
<form action="/login" method="POST">
                <table><tr><td>login</td><td><input type = "text" name="login" maxlength = 10></td></tr>
                <tr><td>password</td><td><input type = "password" name="password"  maxlength = 10></td></tr></table>
                <input type="submit" value="login">
</form>
<a href="/registration">Registration</a>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>