<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset ="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale = 1">
      <link rel = "stylesheet" href = "static/css/rating.css">
</head>
<body>
    {% if startRow > 1}
        <a href = "#"> {{startRow - 20}} - {{startRow - 1}}</a>
    {% endif %}
    {% if users|length >= startRow + 20 %}
        {% if users|length >= startRow + 40 %}
            <a href = "#"> {{startRow + 20}} - {{startRow + 39}}</a>
        {% else %}
            <a href = "#"> {{startRow + 20}} - {{users|length}}</a>
        {% endif %}
    {% endif %}
    <table border = "2">
        <tr><th>№</th><th>User</th><th>Wines</th><th>Loses</th></tr>
        {% for user in users %}
            <tr><td>{{loop.index}}</td><td>{{user.login}}</td><td>{{user.wines}}</td><td>{{user.loses}}</td><td>{{user.password}}</td></tr>
        {% endfor %}
    </table>
</body>
</html>
