<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset ="utf-8">
      <style>
          /*table{width:60%;
               border:none;

          }
          th{
              border:none;
          }
          td{text-align:center;
              border:none;

          }
          tr{
              border:none;
          }
          tr:nth-child(2n+2){
              background-color:pink;
          }
          tr:nth-child(2n+3){
              background-color:lime;
          }*/
      </style>
      <link rel = "stylesheet" href = "../static_files/css/rating.css">
</head>
<body>
    <div>
         <table border = "2">
              <tr><th>№</th><th>User</th><th>Wines</th><th>Loses</th></tr>
              {% for user in users %}
              <tr><td>{{loop.index}}</td><td>{{user.login}}</td><td>{{user.wines}}</td><td>{{user.loses}}</td><td>{{user.password}}</td></tr>
              {% endfor %}
         </table>
    </div>
</body>
</html>
